//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-4 Education
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Sun 01 12 21:25:02 2025

IO_LOC "out_debug" 52;
IO_PORT "out_debug" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "out_led_1" 15;
IO_PORT "out_led_1" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "in_btn" 88;
IO_PORT "in_btn" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "in_clk" 11;
IO_PORT "in_clk" PULL_MODE=UP BANK_VCCIO=1.8;
